#dark {
  background-color: rgb(56, 56, 56);
}
/* Navbar dark */
#dark .navbarc {
  background-color: rgb(56, 56, 56);
  color: whitesmoke;
}

/* Hero dark */
#dark .hero {
  background-color: rgb(56, 56, 56);
}
#dark .scroll-icon {
  border: 0.25em solid #fff;
}

#dark .scroll-icon__dot {
  border: 0.25em solid #fff;
}

#light .hwr {
  color: #909090;
}

#dark .hwr {
  color: #efefef;
}
#dark .atowd {
  color: #efefef;
}

/* Links dark */
#light .links {
  color: #757575;
}
#light .links:hover {
  color: #212121;
}
#dark .links {
  color: #9e9e9e;
}

#dark .links:hover {
  color: #424242;
}
/* about dark */

#dark .twu {
  color: #efefef;
  background-color: #424242;
}

#light .aboutus {
  background-color: #f9f9f9;
}
#dark .aboutus {
  color: #efefef;
  background-color: #424242;
}
#dark .keyword {
  color: #2196f3;
}

/* team dark */

#light .grey900 {
  color: #212121;
}
#light .grey600 {
  color: #757575;
}
#dark .team {
  background-color: rgb(56, 56, 56);
}

#dark .grey900 {
  color: #9e9e9e;
}
#dark .grey600 {
  color: #bdbdbd;
}
#light .fc {
  color: #3949ab;
}
#dark .fc {
  color: #b39ddb;
}

/* projects dark */
#light .projectscls {
  background-color: #f9f9f9;
}
#dark .projectscls {
  background-color: #424242;
}
#dark .te {
  color: #fff;
}

#light .cardss:hover {
  background-color: #bdbdbd;
}
#dark .cardss {
  background-color: #757575;
}
#dark .cardss:hover {
  background-color: #9e9e9e;
}

#dark .grey900 {
  color: #9e9e9e;
}
#dark .grey600 {
  color: #bdbdbd;
}
#light .fc {
  color: #3949ab;
}
#dark .fc {
  color: #b39ddb;
}

/* projects dark */
#light .projectscls {
  background-color: #f9f9f9;
}
#dark .projectscls {
  background-color: #424242;
}
#dark .te {
  color: #fff;
}

#light .cardss:hover {
  background-color: #bdbdbd;
}
#dark .cardss {
  background-color: #757575;
}
#dark .cardss:hover {
  background-color: #9e9e9e;
}

/* footer dark */
#light .footeer {
  background-color: #000000;
}
#dark .footeer {
  background-color: #a3a3a3;
  color: #181818;
}
#light .iconss {
  color: #fff;
}
#dark .iconss {
  color: #000000;
}

#dark .meetlader {
  color: #fff;
}
 
