@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&display=swap');


#tt{ 
    font-family: 'Inter', sans-serif;
     line-height: 1.8; 
    word-spacing: 2px;
}

.keyword{
    font-weight: 500; 
    color: #0d2cb6;
    margin-bottom: 0.5rem;
}